<section>
    <div>
        <h2 class="skills_title"><span>Contacto</span></h2>
    </div>
    <div class="left-zone">
        <article class="subtitle-container">
            <p class="subtitle">
                Dejame tu mensaje
            </p>
        </article>
        <div>
            <article>
                <p class="subtitle">email</p>
                <input type="email">
            </article>
        </div>
    </div>
</section>