<body>
    <header>
     <nav >
       <div class="logoConteiner">
          <p class="logo" >F.R</p>
        </div>
       <div class="itemConteiner">
         <article class="itemHeader">
          <a href="/" class="btn-effect">
            <span id="span1"></span>
            <span id="span2"></span>
            <span id="span3"></span>
            <span id="span4"></span>
             ¿Quien soy?
        </a>
         </article>
         <article class="itemHeader">
          <a href="/skills" class="btn-effect">
            <span id="span1"></span>
            <span id="span2"></span>
            <span id="span3"></span>
            <span id="span4"></span>
            Skills
        </a>
        </article>
        <article class="itemHeader">
          <a href="#" class="btn-effect">
            <span id="span1"></span>
            <span id="span2"></span>
            <span id="span3"></span>
            <span id="span4"></span>
            Item 3
        </a>
        </div>
       </section>
     </nav>
    </header>