<div>
    <h2 class="skills_title"><span>Skills</span></h2>
</div>
<div class="skills_container">
<a href="/skills/javascript"><div class="skill">
    <div class="texto_skill"><p>javascript </p></div> 
</div></a>
<a href=""><div class="skill">
    <div class="texto_skill"><p>React</p></div> 
</div></a>
<a href=""><div class="skill">
    <div class="texto_skill"><p>css</p></div> 
</div></a>
<a href=""><div class="skill">
    <div class="texto_skill"><p>node js</p></div> 
</div></a>
<a href=""><div class="skill">
    <div class="texto_skill"><p>express js</p></div> 
</div></a>
<a href=""><div class="skill">
    <div class="texto_skill"><p>SQL</p></div> 
</div></a>


</div>