<%- include('partials/head') %> 
<%- include('partials/header') %> 

  <main>
    
    <div class="mainTextConteiner">
        <img class="image" src="\images\WhatsApp Image 2020-11-18 at 15.26.52.jpeg" alt="">
      <p class="mainText">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime praesentium perferendis nemo, tempora, incidunt ratione cupiditate inventore quibusdam modi quos obcaecati suscipit exercitationem 
      dolorem repellendus quis, aspernatur quidem vero soluta consectetur distinctio dolores iste porro reprehenderit? Perferendis, maiores! Natus officiis sed veritatis quia facere perferendis nemo eos, architecto hic inventore.   
      </p>
    </div>
  </main>
  <%- include('partials/skills') %> 
  <%- include('partials/footer') %> 
<body>
</html>