<%- include('partials/head') %> 
<%- include('partials/header') %> 
<main>
<div class="mainTextConteiner">
</div>
</main>
  <%- include('partials/footer') %> 
  <script src="/javascripts/index.js"></script>
<body>
</html>